@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Montserrat', sans-serif;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		@apply bg-white dark:bg-slate-800 text-black dark:text-white;
	}
	h1,
	h2,
	h3,
	h4 {
		font-family: 'Montserrat', sans-serif @apply font-semibold;
	}
}
input[type='text'] {
	@apply appearance-none bg-gray-200 dark:bg-slate-700 text-gray-700 dark:text-white border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white;
}
